<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>登录</title>
</head>
<body>
<div class="nk-container">
	<!-- 内容 -->
	<div class="main">
		<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
			<h3 class="text-center text-info border-bottom pb-3">密&nbsp;&nbsp;码&nbsp;&nbsp;修&nbsp;&nbsp;改</h3>
			<form class="mt-5" method="post" th:action="@{/updatePassword}">
				<div class="form-group row mt-4">
					<label for="old_password" class="col-sm-2 col-form-label text-right">原密码:</label>
					<div class="col-sm-10">
						<input type="password" th:class="|form-control ${passwordMsg!=null?'is-invalid':''}|" id="old_password" name="old_password" placeholder="请输入您的密码!" required>
						<div class="invalid-feedback" th:text="${passwordMsg}"><!--若密码不对-->
							请检查输入的密码!
						</div>
					</div>
				</div>
				<div class="form-group row mt-4">
					<label for="password" class="col-sm-2 col-form-label text-right">新密码:</label>
					<div class="col-sm-10">
						<input type="password" th:class="|form-control ${oldPasswordMsg!=null?'is-invalid':''}|" id="password" name="password" placeholder="请输入您的密码!" required>
						<!--<div class="invalid-feedback" th:text="${passwordMsg}">&lt;!&ndash;若密码小于8位&ndash;&gt;
							密码长度不能小于8位!
						</div>-->
					</div>
				</div>
				<div class="form-group row mt-4">
					<label for="new_password" class="col-sm-2 col-form-label text-right">确认密码:</label>
					<div class="col-sm-10">
						<input type="password" th:class="|form-control ${oldPasswordMsg!=null?'is-invalid':''}|" id="new_password" name="new_password" placeholder="请输入您的密码!" required>
						<div class="invalid-feedback" th:text="${oldPasswordMsg}">
							密码长度不能小于8位!
						</div>
					</div>
				</div>
				<!-- <div class="form-group row mt-4">
                    <label for="verifycode" class="col-sm-2 col-form-label text-right">验证码:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control is-invalid" id="verifycode" placeholder="请输入验证码!">
                        <div class="invalid-feedback">
                            验证码不正确!
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="../img/captcha.png" style="width:100px;height:40px;" class="mr-2"/>
                        <a href="javascript:;" class="font-size-12 align-bottom">刷新验证码</a>
                    </div>
                </div>				 -->
				<!-- <div class="form-group row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="checkbox" id="remember-me" checked="checked">
                        <label class="form-check-label" for="remember-me">记住我</label>
                        <a href="forget.html" class="text-danger float-right">忘记密码?</a>
                    </div>
                </div>				 -->
				<div class="form-group row mt-4">
					<div class="col-sm-1"></div>
					<div class="col-sm-5 text-center">
						<button type="submit" class="btn btn-info text-white form-control">立即修改</button>
					</div>
					<div class="col-sm-5 text-center">
						<button class="btn btn-info text-white form-control" onclick="javascript:history.go(-1)">取&nbsp;&nbsp;&nbsp;&nbsp;消</button>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../js/global.js"></script>
</body>
</html>
